.entry {
    max-width: 800px;
    margin: 0 auto;
}

/*  ==========================================================================
     6. Core HTML & Typography
    ==========================================================================  */

.entry a {
    color: orange;
}

/*   6.1. Headings
    --------------------------------------------------------------------------  */

.entry h1 {
    margin-top: 1.67em;
    margin-bottom: .5em;
    font-size: 1.75em;
    line-height: 1.3;
}
.entry h2 {
    margin: 1.2em 0 .4em;
    font-size: 1.375em;
    line-height: 1.3;
}
.entry h1 + h2 {
    margin-top: -.5em;
}
.entry h3 {
    margin: 1.8em 0 .4em;
    font-size: 1.125em;
    line-height: 1.5;
}
.entry h2 + h3 {
    margin-top: -.4em;
    margin-bottom: .2em;
}
.entry h4 {
    margin: 1.8em 0 .4em;
    font-size: 1em;
    line-height: 1.5;
}
.entry h3 + h4 {
    margin-top: -.3em;
}
.entry h5 {
    margin: 1.8em 0 .4em;
    font-size: 1em;
    line-height: 1.5;
}
.entry h4 + h5 {
    margin-top: -.3em;
}
.entry h6 {
    margin: 1.8em 0 .4em;
    font-size: 1em;
    line-height: 1.5;
}
.entry h5 + h6 {
    margin-top: -.2em;
}
.entry h1:first-child,
.entry h2:first-child,
.entry h3:first-child,
.entry h4:first-child,
.entry h5:first-child,
.entry h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
@media screen and (min-width: 37.5em) {

    .entry h1 {
        font-size: 2em;
    }
    .entry h2 {
        font-size: 1.5em;
    }
    .entry h3 {
        font-size: 1.25em;
    }
}

/*   6.2. Paragraph and Emphasis
    --------------------------------------------------------------------------  */

.entry p,
.entry pre,
.entry address {
    margin: 1em 0 0;
}
.entry p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
}
.entry p:first-child {
    margin-top: 0;
}
.entry blockquote {
    margin: 1.75em 2.5em;
    font-style: italic;
    line-height: 1.5;
}
.entry code,
.entry pre {
    font-family: "Andale Mono", monospace;
    font-size: 1em;
}
.entry pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.entry sub,
.entry sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.entry sup {
    top: -0.5em;
}
.entry sub {
    bottom: -0.25em;
}
.entry abbr {
    cursor: help;
}
.entry address {
    line-height: 1.5;
}


/*   6.3. Lists
    --------------------------------------------------------------------------  */

.entry dl {
    line-height: 1.5;
}
.entry dt {
    font-weight: bold;
}
.entry dd {
    margin: 0 0 1em 0;
}
.entry ul,
.entry ol {
    margin: 1em 0;
}
.entry ul,
.entry ol {
    padding: 0 0 0 2.5em;
}
.entry ul {
    list-style-type: disc;
}
.entry ul ul {
    margin: 0;
    list-style-type: circle;
}
.entry ul ul ul {
    list-style-type: square;
}
.entry ol {
    list-style-type: decimal;
}
.entry li {
    margin-top: .5em;
    font-size: 1em;
    line-height: 1.5;
}

/*   6.4. Tables
    --------------------------------------------------------------------------  */

.entry table {
    margin: 0;
    padding: 0;
}
.entry th,
.entry td {
    padding: .625em 1.25em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.1);
    text-align: left;
}
.entry th {
    border-width: 2px;
}
.entry tr:last-child td {
    border-bottom: none;
}
.entry tr:nth-child(even) {
    background: #eee;
    background: rgba(0,0,0,.1);
}
@media screen and (max-width: 37.5em) {

    .entry table {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/*   6.5. Images
    --------------------------------------------------------------------------  */

.entry img,
.entry img[class*="align"],
.entry img[class*="wp-image-"] {
    max-width: 100%;
    height: auto;
    border: none;
}

/*   6.6. Captions
    --------------------------------------------------------------------------  */

.entry .wp-caption {
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.entry .wp-caption img {
    max-width: 98.5%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0 none;
}
.entry .wp-caption .wp-caption-text,
.entry .entry-caption {
    margin: 0;
    padding: 0 4px 5px;
    font-size: .875em;
    line-height: 1.5;
}

/*   6.7. WordPress Galleries
    --------------------------------------------------------------------------  */

.entry .gallery {
    position: relative;
    float: left;
    left: 50%;
    margin: 2em 0;
}
.entry .gallery:before,
.entry .gallery:after { content: " "; display: table; }
.entry .gallery:after { clear: both; }

.entry .gallery-item {
    position: relative;
    float: left;
    left: -50%;
    margin: 0 .25em .25em 0;
}
.entry .gallery-columns-1 .gallery-item {
    max-width: 100%;
}
.entry .gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - .25em);
    max-width:         calc(50% - .25em);
}
.entry .gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - .25em);
    max-width:         calc(33.3% - .25em);
}
.entry .gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - .25em);
    max-width:         calc(25% - .25em);
}
.entry .gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - .25em);
    max-width:         calc(20% - .25em);
}
.entry .gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - .25em);
    max-width:         calc(16.7% - .25em);
}
.entry .gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - .25em);
    max-width:         calc(14.28% - .25em);
}
.entry .gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - .25em);
    max-width:         calc(12.5% - .25em);
}
.entry .gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - .25em);
    max-width:         calc(11.1% - .25em);
}
.entry .gallery-columns-1 .gallery-item {
    margin: 0 0 .25em;
}
.entry .gallery-columns-2 .gallery-item:nth-child(2n),
.entry .gallery-columns-3 .gallery-item:nth-child(3n),
.entry .gallery-columns-4 .gallery-item:nth-child(4n),
.entry .gallery-columns-5 .gallery-item:nth-child(5n),
.entry .gallery-columns-6 .gallery-item:nth-child(6n),
.entry .gallery-columns-7 .gallery-item:nth-child(7n),
.entry .gallery-columns-8 .gallery-item:nth-child(8n),
.entry .gallery-columns-9 .gallery-item:nth-child(9n) {
    margin-right: 0;
}
.entry .gallery-columns-1 .gallery-item:nth-child(1n+1),
.entry .gallery-columns-2 .gallery-item:nth-child(2n+3),
.entry .gallery-columns-3 .gallery-item:nth-child(3n+4),
.entry .gallery-columns-4 .gallery-item:nth-child(4n+5),
.entry .gallery-columns-5 .gallery-item:nth-child(5n+6),
.entry .gallery-columns-6 .gallery-item:nth-child(6n+7),
.entry .gallery-columns-7 .gallery-item:nth-child(7n+8),
.entry .gallery-columns-8 .gallery-item:nth-child(8n+9),
.entry .gallery-columns-9 .gallery-item:nth-child(9n+10) {
    clear: left;
}
.entry .gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50%;
    margin: 0;
    padding: 6px 8px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: .875em;
    line-height: 1.5;
    text-align: left;
}
.entry .gallery-caption:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 49px;
}
.entry .gallery-item:hover .gallery-caption {
    opacity: 1;
}

/*   Other Elements
    --------------------------------------------------------------------------  */

.entry hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    clear: both;
    height: 1px;
    margin-top: 1em;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}
.entry iframe {
    max-width: 100%;
}
.entry iframe[src*="youtube"],
.entry iframe[src*="vimeo"] {
    display: block;
    margin: 0 auto;
}

/*   Alignment
    --------------------------------------------------------------------------  */

.entry .alignnone {
    margin: 1em 1em 0 0;
}
.entry .aligncenter {
    display: block;
    margin: 1em auto;
}
.entry .alignright,
.entry .alignleft {
    display: block;
    margin: 1em auto;
}
.entry .aligncenter {
    display: block;
    margin: 1em auto;
}
.entry img.alignright,
.entry img.alignleft {
    display: block;
    margin: 1em auto;
}
.entry img.aligncenter{
    display: block;
    margin: 1em auto;
}
.entry .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.entry .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.entry .wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
@media screen and (min-width: 37.5em) {

    .entry .alignright {
        float: right;
        margin: 0 0 1em 1em;
    }
    .entry .alignleft {
        float: left;
        margin: 0 1em 1em 0;
    }
    .entry img.alignright {
        float: right;
        margin: 1em 0 1em 1em;
    }
    .entry img.alignleft {
        float: left;
        margin: 1em 1em 1em 0;
    }
}

/*   Inline Gravity Forms
    --------------------------------------------------------------------------  */

.entry .gform_wrapper ul {
    margin: 0;
    padding: 0;
}
.entry .gform_wrapper li {
    list-style: none;
}
.entry .gfield {
    margin-bottom: 1em;
}
.entry .gform_wrapper label {
    display: block;
    font-weight: bold;
}
.entry .gform_wrapper select,
.entry .gform_wrapper textarea,
.entry .gform_wrapper input[type=text],
.entry .gform_wrapper input[type=url],
.entry .gform_wrapper input[type=email],
.entry .gform_wrapper input[type=tel],
.entry .gform_wrapper input[type=number],
.entry .gform_wrapper input[type=password] {
    display: block;
    width: 100%;
    padding: .5em;
    border: 1px solid #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.entry .ginput_complex .ginput_left,
.entry .ginput_complex .ginput_right,
.entry .ginput_complex .ginput_full {
    display: block;
    margin-bottom: 1em;
}
.entry .ginput_complex .ginput_left label,
.entry .ginput_complex .ginput_right label,
.entry .ginput_complex .ginput_full label {
    display: block;
    font-size: .875em;
    font-weight: normal;
}
.entry .gfield_checkbox input,
.entry .gfield_checkbox label,
.entry .gfield_radio input,
.entry .gfield_radio label {
    display: inline;
    vertical-align: middle;
    font-weight: normal;
}
.entry .gfield_checkbox li,
.entry .gfield_radio li {
    padding-left: 1.5em;
    text-indent: -1.5em;
}
.entry .gform_fileupload_multifile .gform_drop_area {
    margin-bottom: 10px;
    padding: 25px;
    border: 2px dashed #ddd;
    color: #aaa;
    text-align: center;
}
.entry .gfield_description {
    font-size: .75em;
}
.entry .gform_wrapper ::-webkit-input-placeholder {
    color: #a9a9a9;
}
.entry .gform_wrapper ::-moz-placeholder {
    color: #a9a9a9;
}
.entry .gform_wrapper :-ms-input-placeholder {
    color: #a9a9a9;
}
.entry .validation_message {
    color: #d9534f;
    font-size: .75em;
    font-weight: bold;
}
.entry .validation_error {
    margin: 1.5em 0;
    padding: 1.5em;
    border-left: 5px solid #d9534f;
    color: #d9534f;
    font-weight: bold;
    line-height: 1.5;
}
.gform_ajax_spinner {
    margin-left: 1em;
}
.gform_validation_container {
    display: none;
}
.gf_clear {
    clear: both;
}
@media screen and (min-width: 37.5em) {

    .entry .ginput_complex .ginput_left {
        float: left;
        width: 48%;
    }
    .entry .ginput_complex .ginput_right {
        float: right;
        width: 48%;
    }
}